This notebook is to cluster users in a given recommender dataset into groups using *k-means*.\
Currently the total number of clusters is manually defined through the variable k in block two.\
The final result is saved as .csv in the output dir

In [1]:
import pandas as pd
import os

# change dir for custom imports
os.chdir('../')

dataset_name = 'ml-latest-small'

ratings = pd.read_csv('datasets/' + dataset_name + '/ratings.csv')
movies = pd.read_csv('datasets/' + dataset_name + '/movies.csv')

ratings_detailed = pd.merge(ratings, movies, how='inner', on='movieId').sort_values(by='userId')
ratings_detailed

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12117,1,2389,2.0,964983094,Psycho (1998),Crime|Horror|Thriller
12126,1,2395,5.0,964981093,Rushmore (1998),Comedy|Drama
12182,1,2406,4.0,964982310,Romancing the Stone (1984),Action|Adventure|Comedy|Romance
776,1,70,3.0,964982400,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller
...,...,...,...,...,...,...
84152,610,51709,5.0,1479545147,"Host, The (Gwoemul) (2006)",Comedy|Drama|Horror|Sci-Fi|Thriller
26937,610,589,5.0,1479542983,Terminator 2: Judgment Day (1991),Action|Sci-Fi
69808,610,66097,4.0,1493846499,Coraline (2009),Animation|Fantasy|Thriller
69820,610,71464,4.0,1479544359,"Serious Man, A (2009)",Comedy|Drama
100835,610,163981,3.5,1493850155,31 (2016),Horror

In [2]:
from clustering.helpers import transform_df
from clustering.kmeans import create_clsuters

# number of clusters
k = 120

# use k means to cluster the users in the dataset
transformed_df = transform_df(ratings_detailed)
ratings_clustered = create_clsuters(k, transformed_df)
ratings_clustered

c:\Users\Wissam Al Jurdi\Desktop\workspace\local-projects\group-validation\clustering\helpers.py:20: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  dataset.loc[dataset['genres'].str.contains(i), i] = 1

        userId  movieId  rating   timestamp  cluster
0            1        1     4.0   964982703       54
12117        1     2389     2.0   964983094       54
12126        1     2395     5.0   964981093       54
12182        1     2406     4.0   964982310       54
776          1       70     3.0   964982400       54
...        ...      ...     ...         ...      ...
84152      610    51709     5.0  1479545147       78
26937      610      589     5.0  1479542983       78
69808      610    66097     4.0  1493846499       11
69820      610    71464     4.0  1479544359       78
100835     610   163981     3.5  1493850155       11

[100836 rows x 5 columns]

In [3]:
ratings_clustered.to_csv('output/' + dataset_name + '/clusters.csv', index=False)

# Load clusters

In [4]:
import pandas as pd

clusters = pd.read_csv('output/' + dataset_name + '/clusters.csv')

In [5]:
cluster_id = 50

# unique users in a certain cluster c
x = list(set(clusters[clusters['cluster'] == cluster_id].userId.to_list()))

x

[288, 448, 66, 482, 7, 199, 232, 425, 438, 23, 474, 156, 414, 95]

In [7]:
clusters[clusters["cluster"] == 50]

       userId  movieId  rating   timestamp  cluster
874         7     3916     4.0  1106636596       50
875         7     2762     4.5  1106635648       50
876         7     4896     4.0  1106636718       50
877         7     3869     5.0  1106635733       50
878         7     1183     1.5  1106712613       50
...       ...      ...     ...         ...      ...
77217     482     7450     1.0  1105396924       50
77218     482     2124     4.0  1105396607       50
77219     482     1610     4.0  1105395987       50
77220     482     2468     3.5  1105396584       50
77221     482     4862     1.0  1105396797       50

[1248 rows x 5 columns]