In [1]:
import pandas as pd
import os

os.chdir('../')

dataset_name = 'ml-25m'

ratings = pd.read_csv('datasets/' + dataset_name + '/shrunk/ratings_small_v2.csv')
movies = pd.read_csv('datasets/' + dataset_name + '/movies.csv')

ratings_detailed = pd.merge(ratings, movies, how='inner', on='movieId').sort_values(by='userId')
ratings_detailed

,userId,movieId,rating,timestamp,title,genres
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
11459,1,7365,4.0,1147869033,Noi the Albino (Nói albinói) (2003),Drama
11468,1,7820,2.5,1147878050,"Virgin Spring, The (Jungfrukällan) (1960)",Crime|Drama
11480,1,7937,3.0,1147878055,"Silence, The (Tystnaden) (1963)",Drama
11485,1,7938,2.5,1147878063,Winter Light (Nattvardsgästerna) (1963),Drama
...,...,...,...,...,...,...
182877,4999,543,3.0,846591457,So I Married an Axe Murderer (1993),Comedy|Romance|Thriller
153184,4999,434,3.0,846590065,Cliffhanger (1993),Action|Adventure|Thriller
123198,4999,11,5.0,846590163,"American President, The (1995)",Comedy|Drama|Romance
86826,4999,88,4.0,846591614,Black Sheep (1996),Comedy
153225,4999,445,5.0,846591765,Fatal Instinct (1993),Comedy

In [3]:
from clustering.helpers import transform_df
from clustering.kmeans import create_clsuters

# number of clusters
k = 200

transformed_df = transform_df(ratings_detailed)
ratings_clustered = create_clsuters(k, transformed_df)
ratings_clustered

c:\Users\Wissam Al Jurdi\Desktop\workspace\local-projects\group-validation\clustering\helpers.py:20: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  dataset.loc[dataset['genres'].str.contains(i), i] = 1

        userId  movieId  rating   timestamp  cluster
0            1      296     5.0  1147880044      100
11459        1     7365     4.0  1147869033      100
11468        1     7820     2.5  1147878050      100
11480        1     7937     3.0  1147878055      100
11485        1     7938     2.5  1147878063      100
...        ...      ...     ...         ...      ...
182877    4999      543     3.0   846591457       99
153184    4999      434     3.0   846590065       99
123198    4999       11     5.0   846590163       99
86826     4999       88     4.0   846591614       99
153225    4999      445     5.0   846591765       99

[502732 rows x 5 columns]

In [6]:
ratings_clustered.to_csv('output/' + dataset_name + '/clusters.csv', index=False)

# Load clusters

In [17]:
import pandas as pd

clusters = pd.read_csv('output/' + dataset_name + '/clusters.csv')
clusters[clusters['cluster'] == 10]

        userId  movieId  rating  timestamp  cluster
55126      641      914     5.0  913127137       10
55127      641     1663     4.0  913127958       10
55128      641     2194     3.0  913127380       10
55129      641     1254     4.0  913127701       10
55130      641      599     4.0  913127843       10
...        ...      ...     ...        ...      ...
458556    4594     1185     5.0  913432362       10
458557    4594     1224     5.0  913429195       10
458558    4594     2313     5.0  913429037       10
458559    4594     2406     4.0  913429607       10
458560    4594      293     5.0  913430943       10

[1436 rows x 5 columns]

In [19]:
c = 10

# unique users in a certain cluster c
list(set(clusters[clusters['cluster'] == c].userId.to_list()))

[641, 2755, 3780, 2631, 1324, 4594, 2580, 1686, 3162, 3517]