This notebook is to cluster users in a given recommender dataset into groups using *k-means*.\
Currently the total number of clusters is manually defined through the variable k in block two.\
The final result is saved as .csv in the output dir

In [1]:
import os

# change dir for custom imports
os.chdir('../')

In [2]:
import pandas as pd

dataset_name = 'ml-latest-small'

ratings = pd.read_csv('datasets/' + dataset_name + '/clean/ratings.csv')
movies = pd.read_csv('datasets/' + dataset_name + '/movies.csv')

ratings_detailed = pd.merge(ratings, movies, how='inner', on='movieId').sort_values(by='userId')
ratings_detailed

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
10726,1,2387,5.0,964983123,Very Bad Things (1998),Comedy|Crime
10742,1,2389,2.0,964983094,Psycho (1998),Crime|Horror|Thriller
10750,1,2395,5.0,964981093,Rushmore (1998),Comedy|Drama
10802,1,2406,4.0,964982310,Romancing the Stone (1984),Action|Adventure|Comedy|Romance
...,...,...,...,...,...,...
77051,610,8807,4.0,1493847162,Harold and Kumar Go to White Castle (2004),Adventure|Comedy
77065,610,8861,2.0,1493845603,Resident Evil: Apocalypse (2004),Action|Horror|Sci-Fi|Thriller
77095,610,8910,3.5,1493849401,I Heart Huckabees (2004),Comedy
76983,610,7454,2.0,1493846051,Van Helsing (2004),Action|Adventure|Fantasy|Horror
93811,610,163981,3.5,1493850155,31 (2016),Horror

In [3]:
from clustering.helpers import transform_df
from clustering.kmeans import create_clsuters

# number of clusters
k = 50

# use k means to cluster the users in the dataset
transformed_df = transform_df(ratings_detailed)
ratings_clustered = create_clsuters(k, transformed_df)
ratings_clustered

c:\Users\Wissam Al Jurdi\Desktop\workspace\local-projects\group-validation\clustering\helpers.py:20: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  dataset.loc[dataset['genres'].str.contains(i), i] = 1

       userId  movieId  rating   timestamp  cluster
0           1        1     4.0   964982703        3
10726       1     2387     5.0   964983123        3
10742       1     2389     2.0   964983094        3
10750       1     2395     5.0   964981093        3
10802       1     2406     4.0   964982310        3
...       ...      ...     ...         ...      ...
77051     610     8807     4.0  1493847162       37
77065     610     8861     2.0  1493845603       37
77095     610     8910     3.5  1493849401       37
76983     610     7454     2.0  1493846051       37
93811     610   163981     3.5  1493850155       37

[93812 rows x 5 columns]

In [4]:
ratings_clustered.to_csv('output/' + dataset_name + '/clusters.csv', index=False)

# Load clusters

In [5]:
import pandas as pd

clusters = pd.read_csv('output/' + dataset_name + '/clusters.csv')

In [ ]:
cluster_id = 20

# unique users in a certain cluster c
x = list(set(clusters[clusters['cluster'] == cluster_id].userId.to_list()))
x

In [8]:
clusters[clusters["cluster"] == 20]

       userId  movieId  rating  timestamp  cluster
5014       39     1027     4.0  974787064       20
5015       39      596     3.0  974788629       20
5016       39     2858     5.0  974788291       20
5017       39     3178     3.0  974789375       20
5018       39      593     5.0  974788030       20
...       ...      ...     ...        ...      ...
89781     603     4014     2.0  980732170       20
89908     603     4024     3.0  980732147       20
89925     603     3998     4.0  980732199       20
90028     603     3983     3.0  980732147       20
90042     603     4017     4.0  980732268       20

[4138 rows x 5 columns]