This notebook is to cluster users in a given recommender dataset into groups using *k-means*.\
Currently the total number of clusters is manually defined through the variable k in block two.\
The final result is saved as .csv in the output dir

In [1]:
import os

# change dir for custom imports
os.chdir('../')

In [2]:
import pandas as pd

dataset_name = 'ml-latest-small'

ratings = pd.read_csv('datasets/' + dataset_name + '/clean/ratings.csv')
movies = pd.read_csv('datasets/' + dataset_name + '/movies.csv', encoding='latin-1')

ratings_detailed = pd.merge(ratings, movies, how='inner', on='movieId').sort_values(by='userId')

In [ ]:
ratings_detailed

In [3]:
from clustering.helpers import transform_df
from clustering.kmeans import create_clsuters

# number of clusters
k = 50

# use k means to cluster the users in the dataset
transformed_df = transform_df(ratings_detailed)
ratings_clustered = create_clsuters(k, transformed_df)
ratings_clustered

c:\Users\Wissam Al Jurdi\Desktop\workspace\local-projects\group-validation\clustering\helpers.py:20: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  dataset.loc[dataset['genres'].str.contains(i), i] = 1

       userId  movieId  rating   timestamp  cluster
0           1        1     4.0   964982703       46
10726       1     2387     5.0   964983123       46
10742       1     2389     2.0   964983094       46
10750       1     2395     5.0   964981093       46
10802       1     2406     4.0   964982310       46
...       ...      ...     ...         ...      ...
77051     610     8807     4.0  1493847162        0
77065     610     8861     2.0  1493845603        0
77095     610     8910     3.5  1493849401        0
76983     610     7454     2.0  1493846051        0
93811     610   163981     3.5  1493850155        0

[93812 rows x 5 columns]

In [4]:
ratings_clustered.to_csv('output/' + dataset_name + '/clusters.csv', index=False)

# Load clusters

In [ ]:
import pandas as pd

clusters = pd.read_csv('output/' + dataset_name + '/clusters.csv')

In [ ]:
cluster_id = 20

# unique users in a certain cluster c
x = list(set(clusters[clusters['cluster'] == cluster_id].userId.to_list()))
x

In [ ]:
clusters[clusters["cluster"] == 20]