This notebook is to cluster users in a given recommender dataset into groups using *k-means*.\
Currently the total number of clusters is manually defined through the variable k in block two.\
The final result is saved as .csv in the output dir

In [1]:
import pandas as pd
import os

# change dir for custom imports
os.chdir('../')

dataset_name = 'ml-25m'

ratings = pd.read_csv('datasets/' + dataset_name + '/shrunk/ratings_small_v2.csv')
movies = pd.read_csv('datasets/' + dataset_name + '/movies.csv')

ratings_detailed = pd.merge(ratings, movies, how='inner', on='movieId').sort_values(by='userId')
ratings_detailed

,userId,movieId,rating,timestamp,title,genres
0,12,1,4.0,1167582601,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
114338,12,1461,1.0,1119355360,Vegas Vacation (National Lampoon's Las Vegas V...,Comedy
114176,12,1449,3.5,1266934221,Waiting for Guffman (1996),Comedy
114031,12,1441,4.0,1167582753,Benny & Joon (1993),Comedy|Romance
114009,12,1440,2.0,940799540,Amos & Andrew (1993),Comedy
...,...,...,...,...,...,...
273100,162488,1639,4.5,1202822911,Chasing Amy (1997),Comedy|Drama|Romance
274620,162488,1690,4.0,1202822147,Alien: Resurrection (1997),Action|Horror|Sci-Fi
88158,162488,1200,5.0,1202821805,Aliens (1986),Action|Adventure|Horror|Sci-Fi
299217,162488,2989,3.0,1202821510,For Your Eyes Only (1981),Action|Adventure|Thriller
199375,162488,4973,4.0,1202823242,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance

In [2]:
from clustering.helpers import transform_df
from clustering.kmeans import create_clsuters

# number of clusters
k = 200

# use k means to cluster the users in the dataset
transformed_df = transform_df(ratings_detailed)
ratings_clustered = create_clsuters(k, transformed_df)
ratings_clustered

c:\Users\Wissam Al Jurdi\Desktop\workspace\local-projects\group-validation\clustering\helpers.py:20: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  dataset.loc[dataset['genres'].str.contains(i), i] = 1

        userId  movieId  rating   timestamp  cluster
0           12        1     4.0  1167582601       72
114338      12     1461     1.0  1119355360      118
114176      12     1449     3.5  1266934221      173
114031      12     1441     4.0  1167582753       72
114009      12     1440     2.0   940799540      189
...        ...      ...     ...         ...      ...
273100  162488     1639     4.5  1202822911       61
274620  162488     1690     4.0  1202822147       61
88158   162488     1200     5.0  1202821805       61
299217  162488     2989     3.0  1202821510       61
199375  162488     4973     4.0  1202823242       61

[726251 rows x 5 columns]

In [3]:
ratings_clustered.to_csv('output/' + dataset_name + '/clusters.csv', index=False)

# Load clusters

In [4]:
import pandas as pd

clusters = pd.read_csv('output/' + dataset_name + '/clusters.csv')

In [ ]:
cluster_id = 50

# unique users in a certain cluster c
x = list(set(clusters[clusters['cluster'] == cluster_id].userId.to_list()))

x

In [18]:
clusters[clusters['userId'] == 1666]

        userId  movieId  rating   timestamp  cluster
159444    1666     1210     3.5  1152545355       98
159445    1666     7153     4.0  1152545209       98
159446    1666     1408     3.0  1152546962       98
159447    1666     6405     4.5  1152545314       98
159448    1666     4396     2.0  1184887774       79
...        ...      ...     ...         ...      ...
159588    1666     4995     4.0  1152545706       98
159589    1666      900     4.5  1152546307       98
159590    1666      708     3.0  1152544482       98
159591    1666     4361     4.0  1152545697       98
159592    1666     8970     3.0  1152545457       98

[149 rows x 5 columns]