This notebook is to cluster users in a given recommender dataset into groups using *k-means*.\
Currently the total number of clusters is manually defined through the variable k in block two.\
The final result is saved as .csv in the output dir

In [1]:
import os

# change dir for custom imports
os.chdir('../')

In [2]:
import pandas as pd

dataset_name = 'ml-1m'

ratings = pd.read_csv('datasets/' + dataset_name + '/clean/ratings.csv')
movies = pd.read_csv('datasets/' + dataset_name + '/movies.csv', encoding='latin-1')

ratings_detailed = pd.merge(ratings, movies, how='inner', on='movieId').sort_values(by='userId')
ratings_detailed

,userId,movieId,rating,timestamp,title,genres
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
33599,1,783,4,978824291,"Hunchback of Notre Dame, The (1996)",Animation|Children's|Musical
23629,1,527,5,978824195,Schindler's List (1993),Drama|War
3656,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy
49883,1,531,4,978302149,"Secret Garden, The (1993)",Children's|Drama
...,...,...,...,...,...,...
677323,6040,1189,5,956715288,"Thin Blue Line, The (1988)",Documentary
698393,6040,2973,4,957717557,Crimes and Misdemeanors (1989),Comedy
111622,6040,1265,4,960972693,Groundhog Day (1993),Comedy|Romance
608712,6040,2248,3,960972693,Say Anything... (1989),Comedy|Drama|Romance
612249,6040,1960,4,956715597,"Last Emperor, The (1987)",Drama|War

In [3]:
from clustering.helpers import transform_df
from clustering.kmeans import create_clsuters

# number of clusters
k = 100

# use k means to cluster the users in the dataset
transformed_df = transform_df(ratings_detailed)
ratings_clustered = create_clsuters(k, transformed_df)
ratings_clustered

        userId  movieId  rating  timestamp  cluster
0            1     1193       5  978300760       91
33599        1      783       4  978824291       50
23629        1      527       5  978824195       50
3656         1     2355       5  978824291       50
49883        1      531       4  978302149       91
...        ...      ...     ...        ...      ...
677323    6040     1189       5  956715288       44
698393    6040     2973       4  957717557       98
111622    6040     1265       4  960972693       75
608712    6040     2248       3  960972693       75
612249    6040     1960       4  956715597       44

[943471 rows x 5 columns]

In [4]:
ratings_clustered.to_csv('output/' + dataset_name + '/clusters.csv', index=False)

# Load clusters

In [ ]:
import pandas as pd

clusters = pd.read_csv('output/' + dataset_name + '/clusters.csv')

In [ ]:
cluster_id = 20

# unique users in a certain cluster c
x = list(set(clusters[clusters['cluster'] == cluster_id].userId.to_list()))
x

In [ ]:
clusters[clusters["cluster"] == 20]