In [2]:
import pandas as pd

ratings = pd.read_csv('datasets/ml-latest-small/ratings.csv')
movies = pd.read_csv('datasets/ml-latest-small/movies.csv')

ratings_detailed = pd.merge(ratings, movies, how='inner', on='movieId').sort_values(by='userId')
ratings_detailed

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
12117,1,2389,2.0,964983094,Psycho (1998),Crime|Horror|Thriller
12126,1,2395,5.0,964981093,Rushmore (1998),Comedy|Drama
12182,1,2406,4.0,964982310,Romancing the Stone (1984),Action|Adventure|Comedy|Romance
776,1,70,3.0,964982400,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller
...,...,...,...,...,...,...
84152,610,51709,5.0,1479545147,"Host, The (Gwoemul) (2006)",Comedy|Drama|Horror|Sci-Fi|Thriller
26937,610,589,5.0,1479542983,Terminator 2: Judgment Day (1991),Action|Sci-Fi
69808,610,66097,4.0,1493846499,Coraline (2009),Animation|Fantasy|Thriller
69820,610,71464,4.0,1479544359,"Serious Man, A (2009)",Comedy|Drama
100835,610,163981,3.5,1493850155,31 (2016),Horror

In [3]:
from clustering.helpers import transform_df
from clustering.kmeans import create_clsuters

# number of clusters
k = 50

transformed_df = transform_df(ratings_detailed)
ratings_clustered = create_clsuters(k, transformed_df)
ratings_clustered

c:\Users\Wissam Al Jurdi\Desktop\workspace\local-projects\group-validation\clustering\helpers.py:20: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  dataset.loc[dataset['genres'].str.contains(i), i] = 1

        userId  movieId  rating   timestamp  cluster
0            1        1     4.0   964982703        5
12117        1     2389     2.0   964983094        5
12126        1     2395     5.0   964981093        5
12182        1     2406     4.0   964982310        5
776          1       70     3.0   964982400        5
...        ...      ...     ...         ...      ...
84152      610    51709     5.0  1479545147        3
26937      610      589     5.0  1479542983        3
69808      610    66097     4.0  1493846499       48
69820      610    71464     4.0  1479544359        3
100835     610   163981     3.5  1493850155       48

[100836 rows x 5 columns]

In [5]:
ratings_clustered.to_csv('../output/ml-latest-small/clusters', index=False)

# Load clusters

In [2]:
import pandas as pd

clusters = pd.read_csv('../output/ml-latest-small/clusters.csv')
clusters[clusters['cluster'] == 10]

       userId  movieId  rating   timestamp  cluster
1793       18    53129     3.0  1521323641       10
1896       18    51357     4.0  1521331921       10
2122       18    27878     4.5  1526159893       10
2159       18    96432     4.0  1521233253       10
7118       50   168492     3.5  1527108487       10
...       ...      ...     ...         ...      ...
95957     601     1584     3.5  1521397691       10
95958     601    74946     4.0  1521395446       10
95961     601   172591     4.5  1521467819       10
95963     601      953     4.5  1521467828       10
95964     601    54286     4.0  1521467753       10

[2178 rows x 5 columns]